{# tutorial/templates/tutorial/people.html #}
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block title %}Admins{% endblock %}

{% if user.is_authenticated %}

{% block content %}
<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Isfahan_University_of_Technology_%28seal%29.svg/200px-Isfahan_University_of_Technology_%28seal%29.svg.png"></center>
<div class="query4">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ user.username }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
      <form class="navbar-form navbar-left">
        <div class="form-group">
		<Center><h4>Isfahan University of Technology Dorms</h4></center>
      </form>
<ul class="nav navbar-nav navbar-left">
<a href="{% url 'logout' %}">logout</a>
</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    
    <h2><center><font color="#DD1E00">List of All Admins<font></center></h2>
        {% render_table table %}
    </div>
{% endblock %}
{% endif %}